<!DOCTYPE html>
<html lang="es" class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>DreamTrip</title>
    <script th:src="@{/js/modal.js}" src="js/modal.js"></script>
    <script th:src="@{/js/event.js}" src="js/event.js"></script>
    <link rel="stylesheet" th:href="@{/css/modal.css}" href="css/modal.css">
    <link rel="stylesheet" th:href="@{/css/stars-rating.css}" href="css/stars-rating.css">
    <link rel="stylesheet" th:href="@{/css/event.css}" href="css/event.css">
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <img id="images-header" class="w-100" th:src="@{/event/{id}/coverPic(id=${event.id})}" alt=""
            style="object-fit: cover;" th:attr="onclick=|toggleShowPic('@{/event/{id}/coverPic(id=${event.id})}')|">
        <div id="event-header" class="border-bottom">
            <div class="d-flex px-4 py-2 justify-content-between align-items-center">
                <div class="d-flex flex-fill justify-content-between align-items-center">
                    <div>
                        <span class="badge bg-primary fs-6">Event</span>
                        <h1><span th:text="${event.title}">TITLE</span></h1>
                        <div>
                            <span class="badge bg-primary" th:text="${event.status}">Open</span>
                            <th:block th:if="${isOwner}">
                                <button type="button" class="badge bg-primary btn" onclick="toggleModalForm('status-form-cont')">✏</button>
                                <div id="status-form-cont" class="modal-form-cont">
                                    <form class="modal-form bg-white rounded" th:action="@{/event/{id}/change(id=${event.id})}" method="post">
                                        <h3>Change Status</h3>
                                        <label for="report-desc" class="form-label">Select new status:</label><br>
                                        <select class="form-select" name="status">
                                            <option value="OPEN" th:selected="${event.status.name().equals('OPEN')}">OPEN</option>
                                            <option value="CLOSED" th:selected="${event.status.name().equals('CLOSED')}">CLOSED</option>
                                            <option value="FINISH" th:selected="${event.status.name().equals('FINISH')}">FINISH</option>
                                        </select>
                                        <br>
                                        <p class="mb-3"><strong class="text-muted">Note: </strong>
                                            if the event has no vacancies, you can't set its status to OPEN.</p>
                                        <button type="submit" class="btn btn-primary">
                                            Send
                                        </button>
                                        <button type="button" class="btn btn-primary" onclick="toggleModalForm('status-form-cont')">Cancel</button>
                                    </form>
                                </div>
                            </th:block>
                        </div>
                    </div>
                    <div class="d-flex flex-column align-items-center">
                        <button type="button" id="fav-i" class="border-0 bg-white fs-2 mb-0" th:attr="onclick=|toggleFav(this, '${event.id}')|"
                            th:text="${fav}? '❤️': '🤍'" th:disabled="!${isLogged}">
                            🤍
                        </button>
                        <p class="text-center mb-0"><span id="fav-n"><span th:text="${numFavs}"></span></span> Likes</p>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-center ms-4">
                    <h1><span th:text="${#numbers.formatDecimal(event.price,1,2)}"></span><span class="fs-4 mb-0">/person</span></h1>
                    <h5><span id="occupied" th:text="${numJoinedUsers}">1</span>/<span id="capacity" th:text="${event.capacity}">5</span> Vacancies</h5>
                    <div>
                        <div id="pbar-vacs-total" class="rounded-pill overflow-hidden">
                            <div id="pbar-vacs-progress" class="bg-primary"
                                th:style="'width:' + ${((numJoinedUsers + 0.0)/ event.capacity)*200} + 'px'"></div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-center ms-2">
                    <input id="check-join" type="checkbox" th:attr="onclick=|toggleJoin(this, '${event.id}')|"
                    th:disabled="${(!isLogged || !event.status.name().equals('OPEN')) && !joined || event.status.name().equals('FINISH')}" th:checked="${joined}">
                    <p id="text-join" class="text-center mb-0">Join</p>
                </div>
                <div id="acts-aft-join" class="ms-2 gap-1" th:style="${joined}? 'display:flex; flex-direction: column;' : 'display: none;'">
                    <a class="btn btn-primary btn-sm" th:href="@{/chat}" href="/chat">Chat</a>
                    <!-- This section is showed just when the event has finalized -->
                    <th:block th:if="${joined && event.status.toString().equals('FINISH')}">
                    <button type="button" class="btn btn-primary btn-sm"
                        onclick="toggleModalForm('rate-users-form-cont')" th:if="${joinedUsers != null && joinedUsers.size()>0}">Rate Users</button>
                    <button type="button" class="btn btn-primary btn-sm"
                        onclick="toggleModalForm('rate-event-form-cont')">Rate Event</button>

                    <div id="rate-users-form-cont" class="modal-form-cont" th:if="${joinedUsers != null && joinedUsers.size()>0}">
                        <div class="modal-form bg-white rounded">
                            <h3>Rate Users</h3>
                            <div class="d-flex gap-1 flex-wrap mb-3">
                                <th:block th:each="joinedUser, index: ${joinedUsers}">
                                    <button type="button" th:class="'b-user-sel-rating btn btn-sm rounded-pill' + ${index.first? ' btn-primary': ' btn-outline-primary'}"
                                        href="" th:href="@{/admin/usersList}" th:attr="onclick=|toggleUserRating('${joinedUser.id}', this)|"
                                        th:text="${joinedUser.username}">Users</button>
                                </th:block>
                            </div>
                            <th:block th:each="joinedUser, index: ${joinedUsers}">
                                <form th:id="'user-'+ ${joinedUser.id} +'-rating'"
                                    th:class="'user-rating-cont' + ${index.first? ' d-block': ' d-none'}">
                                    <h5 class="mb-1">
                                        <a class="text-decoration-none" th:href="@{/user/{id}(id=${joinedUser.id})}"
                                            th:text="${joinedUser.firstName + ' ' + joinedUser.lastName}">Pedro</a>
                                    </h5>
                                    <label for="report-desc" class="form-label">Rating:</label>
                                    <br>
                                    <div class="rating">
                                        <input type="radio" th:id="'r-u-' + ${joinedUser.id} + '-star5'" name="rating" value="10" 
                                            th:checked="${ratingUsers.get(joinedUser.id) != null && ratingUsers.get(joinedUser.id).rating == 10}">
                                        <label class="full" th:for="'r-u-' + ${joinedUser.id} + '-star5'" title="5 stars"></label>
                                        <input type="radio" th:id="'r-u-' + ${joinedUser.id} + '-star4half'" name="rating" value="9" 
                                            th:checked="${ratingUsers.get(joinedUser.id) != null && ratingUsers.get(joinedUser.id).rating == 9}">
                                        <label class="half" th:for="'r-u-' + ${joinedUser.id} + '-star4half'" title="4.5 stars"></label>
                                        <input type="radio" th:id="'r-u-' + ${joinedUser.id} + '-star4'" name="rating" value="8" 
                                            th:checked="${ratingUsers.get(joinedUser.id) != null && ratingUsers.get(joinedUser.id).rating == 8}">
                                        <label class="full" th:for="'r-u-' + ${joinedUser.id} + '-star4'" title="4 stars"></label>
                                        <input type="radio" th:id="'r-u-' + ${joinedUser.id} + '-star3half'" name="rating" value="7" 
                                            th:checked="${ratingUsers.get(joinedUser.id) != null && ratingUsers.get(joinedUser.id).rating == 7}">
                                        <label class="half" th:for="'r-u-' + ${joinedUser.id} + '-star3half'" title="3.5 stars"></label>
                                        <input type="radio" th:id="'r-u-' + ${joinedUser.id} + '-star3'" name="rating" value="6" 
                                            th:checked="${ratingUsers.get(joinedUser.id) != null && ratingUsers.get(joinedUser.id).rating == 6}">
                                        <label class="full" th:for="'r-u-' + ${joinedUser.id} + '-star3'" title="3 stars"></label>
                                        <input type="radio" th:id="'r-u-' + ${joinedUser.id} + '-star2half'" name="rating" value="5" 
                                            th:checked="${ratingUsers.get(joinedUser.id) != null && ratingUsers.get(joinedUser.id).rating == 5}">
                                        <label class="half" th:for="'r-u-' + ${joinedUser.id} + '-star2half'" title="2.5 stars"></label>
                                        <input type="radio" th:id="'r-u-' + ${joinedUser.id} + '-star2'" name="rating" value="4" 
                                            th:checked="${ratingUsers.get(joinedUser.id) != null && ratingUsers.get(joinedUser.id).rating == 4}">
                                        <label class="full" th:for="'r-u-' + ${joinedUser.id} + '-star2'" title="2 stars"></label>
                                        <input type="radio" th:id="'r-u-' + ${joinedUser.id} + '-star1half'" name="rating" value="3" 
                                            th:checked="${ratingUsers.get(joinedUser.id) != null && ratingUsers.get(joinedUser.id).rating == 3}">
                                        <label class="half" th:for="'r-u-' + ${joinedUser.id} + '-star1half'" title="1.5 stars"></label>
                                        <input type="radio" th:id="'r-u-' + ${joinedUser.id} + '-star1'" name="rating" value="2" 
                                            th:checked="${ratingUsers.get(joinedUser.id) != null && ratingUsers.get(joinedUser.id).rating == 2}">
                                        <label class="full" th:for="'r-u-' + ${joinedUser.id} + '-star1'" title="1 star"></label>
                                        <input type="radio" th:id="'r-u-' + ${joinedUser.id} + '-starhalf'" name="rating" value="1" 
                                            th:checked="${ratingUsers.get(joinedUser.id) != null && ratingUsers.get(joinedUser.id).rating == 1}">
                                        <label class="half" th:for="'r-u-' + ${joinedUser.id} + '-starhalf'" title=" 0.5 stars"></label>
                                    </div>
                                    <br><br>
                                    <label for="report-desc" class="form-label">Comment:</label>
                                    <textarea class="form-control" name="description" placeholder="Leave a comment here" style="height: 150px; width: 100%"
                                        th:text="${ratingUsers.get(joinedUser.id) != null? ratingUsers.get(joinedUser.id).description : ''}"></textarea>
                                    <br>
                                    <button type="button" class="btn btn-primary" th:attr="onclick=|rateUserEvent('${joinedUser.id}', '${event.id}')|">
                                        Send
                                    </button>
                                    <button type="button" class="btn btn-primary" onclick="toggleModalForm('rate-users-form-cont')">Cancel</button>
                                </form>
                            </th:block>
                        </div>
                    </div>
                    <div id="rate-event-form-cont" class="modal-form-cont">
                        <form class="modal-form bg-white rounded">
                            <h3>Rate Event</h3>
                            <label for="report-desc" class="form-label">Rating:</label>
                            <br>
                            <div class="rating">
                                <input type="radio" id="star5" name="rating" value="10" 
                                    th:checked="${ratingEvent != null && ratingEvent.rating == 10}">
                                <label class="full" for="star5" title="5 stars"></label>
                                <input type="radio" id="star4half" name="rating" value="9" 
                                    th:checked="${ratingEvent != null && ratingEvent.rating == 9}">
                                <label class="half" for="star4half" title="4.5 stars"></label>
                                <input type="radio" id="star4" name="rating" value="8" 
                                    th:checked="${ratingEvent != null && ratingEvent.rating == 8}">
                                <label class="full" for="star4" title="4 stars"></label>
                                <input type="radio" id="star3half" name="rating" value="7" 
                                    th:checked="${ratingEvent != null && ratingEvent.rating == 7}">
                                <label class="half" for="star3half" title="3.5 stars"></label>
                                <input type="radio" id="star3" name="rating" value="6" 
                                    th:checked="${ratingEvent != null && ratingEvent.rating == 6}">
                                <label class="full" for="star3" title="3 stars"></label>
                                <input type="radio" id="star2half" name="rating" value="5" 
                                    th:checked="${ratingEvent != null && ratingEvent.rating == 5}">
                                <label class="half" for="star2half" title="2.5 stars"></label>
                                <input type="radio" id="star2" name="rating" value="4" 
                                    th:checked="${ratingEvent != null && ratingEvent.rating == 4}">
                                <label class="full" for="star2" title="2 stars"></label>
                                <input type="radio" id="star1half" name="rating" value="3" 
                                    th:checked="${ratingEvent != null && ratingEvent.rating == 3}">
                                <label class="half" for="star1half" title="1.5 stars"></label>
                                <input type="radio" id="star1" name="rating" value="2" 
                                    th:checked="${ratingEvent != null && ratingEvent.rating == 2}">
                                <label class="full" for="star1" title="1 star"></label>
                                <input type="radio" id="starhalf" name="rating" value="1" 
                                    th:checked="${ratingEvent != null && ratingEvent.rating == 1}">
                                <label class="half" for="starhalf" title=" 0.5 stars"></label>
                            </div>
                            <br><br>
                            <label for="report-desc" class="form-label">Comment:</label>
                            <textarea class="form-control" name="description" placeholder="Leave a comment here" style="height: 150px; width: 100%"
                                th:text="${ratingEvent != null? ratingEvent.description : ''}"></textarea>
                            <br>
                            <button type="button" class="btn btn-primary" th:attr="onclick=|rateEvent('${event.id}')|">
                                Send
                            </button>
                            <button type="button" class="btn btn-primary" onclick="toggleModalForm('rate-event-form-cont')">Cancel</button>
                        </form>
                    </div>
                    </th:block>
                </div>
            </div>
        </div>
        <div id="event-container" class="bg-light">
            <div class="d-flex px-4 py-2">
                <div id="more-details" class="bg-white border my-2 me-2 p-4 flex-fill">
                    <div id="event-description" class="mb-5">
                        <h2>DESCRIPTION</h2>
                        <p class="m-0" th:text="${event.description}"></p>
                        <th:block th:if="${isOwner}">
                            <button type="button" class="badge bg-primary btn" onclick="toggleModalForm('description-form-cont')">✏</button>
                            <div id="description-form-cont" class="modal-form-cont">
                                <form class="modal-form bg-white rounded" th:action="@{/event/{id}/change(id=${event.id})}" method="post">
                                    <h3>Change Status</h3>
                                    <label for="report-desc" class="form-label">Select new status:</label><br>
                                    <textarea class="form-control" name="description"
                                        style="height: 150px; width: 100%" th:text="${event.description}"></textarea>
                                    <br>
                                    <button type="submit" class="btn btn-primary">
                                        Send
                                    </button>
                                    <button type="button" class="btn btn-primary" onclick="toggleModalForm('description-form-cont')">Cancel</button>
                                </form>
                            </div>
                        </th:block>
                    </div>
                    <div th:if="${event.notes.length > 0}" id="event-notes" class="mb-5">
                        <h2>NOTES</h2>
                        <div class="d-flex flex-wrap" th:each="note: ${event.notes.split(',')}">
                            <th:block th:switch="${note}">
                                <th:block th:case="'NO_KIDS'">
                                    <p class="flex-fill"><span class="fs-4">👶❌</span> Babies are not allowed</p>
                                </th:block>
                                <th:block th:case="'NO_ANIMALS'">
                                    <p class="flex-fill"><span class="fs-4">🐾❌</span> Pets are not allowed</p>
                                </th:block>
                                <th:block th:case="'KIDS'">
                                    <p class="flex-fill"><span class="fs-4">👶✅</span> Babies are allowed</p>
                                </th:block>
                                <th:block th:case="'ANIMALS'">
                                    <p class="flex-fill"><span class="fs-4">🐾✅</span> Pets allowed</p>
                                </th:block>
                            </th:block>
                        </div>
                    </div>
                    <div id="event-m-imgs" class="mb-5">
                        <h2>Images</h2>
                        <th:block th:if="${photos.size() == 0}">
                            <p>There are no images to show.</p>
                        </th:block>
                        <div class="d-flex flex-wrap gap-2 my-3">
                            <th:block th:each="photo: ${photos}">
                                <div class="event-pic position-relative">
                                    <img th:src="@{/event/{id}/pic/{n}(id=${event.id},n=${photo})}" alt="" width="280" height="150"
                                        style="object-fit: cover;" th:attr="onclick=|toggleShowPic('@{/event/{id}/pic/{n}(id=${event.id},n=${photo})}')|">
                                    <th:block th:if="${isOwner}">
                                        <form class="position-absolute" th:action="@{/event/{id}/rmPic/{n}(id=${event.id},n=${photo})}" method="post"
                                            style="top: 5px; right: 5px;">
                                            <button type="submit" class="p-0 rounded-circle btn btn-light" style="width: 30px; height: 30px;">
                                                ❌
                                                <span class="visually-hidden">Delete Image</span>
                                            </button>
                                        </form>
                                        <form class="position-absolute" th:action="@{/event/{id}/coverPic/{n}(id=${event.id},n=${photo})}" method="post"
                                            style="bottom: 5px; left: 5px;">
                                            <button type="submit" class="btn btn-primary bt-sm">
                                                Set As Cover
                                                <span class="visually-hidden">Set As Cover</span>
                                            </button>
                                        </form>
                                    </th:block>
                                </div>
                            </th:block>
                        </div>

                        <div id="pic-show-cont" style="display: none" onclick="toggleShowPic()">
                            <img src="" alt="">
                        </div>

                        <th:block th:if="${isOwner || (joined && !event.status.toString().equals('OPEN'))}">
                            <button type="button" class="btn btn-primary mb-1" onclick="toggleModalForm('pic-form-cont')">Add Image</button>
                            <div id="pic-form-cont" class="modal-form-cont">
                                <form class="modal-form bg-white rounded" th:action="@{/event/{id}/addPic(id=${event.id})}" method="post"
                                    enctype="multipart/form-data">
                                    <h3>Upload an image.</h3>
                                    <label for="report-desc" class="form-label">Upload an image:</label>
                                    <input class="form-control" type="file" id="form-file" name="photo">
                                    <br>
                                    <button type="submit" class="btn btn-primary">
                                        Send
                                    </button>
                                    <button type="button" class="btn btn-primary" onclick="toggleModalForm('pic-form-cont')">Cancel</button>
                                </form>
                            </div>
                        </th:block>

                    </div>
                    <div id="event-ratings" class="mb-5" th:if="${event.status.toString().equals('FINISH')}">
                        <h2>Ratings</h2>
                        <p th:if="${numRatings == 0}">No ratings yet.</p>
                        <th:block th:if="${numRatings > 0}">
                            <div class="d-flex flex-column align-items-start mb-3">
                                <div class="rating-static">
                                    <input type="radio" id="event-star5" name="event-rating" value="10" 
                                        disabled th:checked="${avgRating == 10}">
                                    <label class="full" for="event-star5" title="5 stars"></label>
                                    <input type="radio" id="event-star4half" name="event-rating" value="9" 
                                        disabled th:checked="${avgRating == 9}">
                                    <label class="half" for="event-star4half" title="4.5 stars"></label>
                                    <input type="radio" id="event-star4" name="event-rating" value="8" 
                                        disabled th:checked="${avgRating == 8}">
                                    <label class="full" for="event-star4" title="4 stars"></label>
                                    <input type="radio" id="event-star3half" name="event-rating" value="7" 
                                        disabled th:checked="${avgRating == 7}">
                                    <label class="half" for="event-star3half" title="3.5 stars"></label>
                                    <input type="radio" id="event-star3" name="event-rating" value="6" 
                                        disabled th:checked="${avgRating == 6}">
                                    <label class="full" for="event-star3" title="3 stars"></label>
                                    <input type="radio" id="event-star2half" name="event-rating" value="5" 
                                        disabled th:checked="${avgRating == 5}">
                                    <label class="half" for="event-star2half" title="2.5 stars"></label>
                                    <input type="radio" id="event-star2" name="event-rating" value="4" 
                                        disabled th:checked="${avgRating == 4}">
                                    <label class="full" for="event-star2" title="2 stars"></label>
                                    <input type="radio" id="event-star1half" name="event-rating" value="3" 
                                        disabled th:checked="${avgRating == 3}">
                                    <label class="half" for="event-star1half" title="1.5 stars"></label>
                                    <input type="radio" id="event-star1" name="event-rating" value="2" 
                                        disabled th:checked="${avgRating == 2}">
                                    <label class="full" for="event-star1" title="1 star"></label>
                                    <input type="radio" id="event-starhalf" name="event-rating" value="1" 
                                        disabled th:checked="${avgRating == 1}">
                                    <label class="half" for="event-starhalf" title=" 0.5 stars"></label>
                                </div>
                                <p class="mb-0 ps-1"><span th:text="${numRatings}">1</span> Ratings</p>
                            </div>
                            <div class="d-flex flex-column gap-2">
                                <div class="border d-flex flex-column align-items-start px-3 pt-3 pb-4" th:each="rating : ${eventRatings}">
                                    <h5><a class="text-decoration-none fw-bold" th:href="@{/user/{id}(id=${rating.userSource.id})}"
                                        th:text="${rating.userSource.username}">Alex</a></h5>
                                    <div class="rating-static">
                                        <input type="radio" th:id="'event-' + ${rating.userSource.id} + 'star5'" th:name="'rating-' + ${rating.userSource.id}" value="10" disabled th:checked="${rating.rating == 10}">
                                        <label class="full" th:for="'event-' + ${rating.userSource.id} + 'star5'" title="5 stars"></label>
                                        <input type="radio" th:id="'event-' + ${rating.userSource.id} + 'star4half'" th:name="'rating-' + ${rating.userSource.id}" value="9" disabled th:checked="${rating.rating == 9}">
                                        <label class="half" th:for="'event-' + ${rating.userSource.id} + 'star4half'" title="4.5 stars"></label>
                                        <input type="radio" th:id="'event-' + ${rating.userSource.id} + 'star4'" th:name="'rating-' + ${rating.userSource.id}" value="8" disabled th:checked="${rating.rating == 8}">
                                        <label class="full" th:for="'event-' + ${rating.userSource.id} + 'star4'" title="4 stars"></label>
                                        <input type="radio" th:id="'event-' + ${rating.userSource.id} + 'star3half'" th:name="'rating-' + ${rating.userSource.id}" value="7" disabled th:checked="${rating.rating == 7}">
                                        <label class="half" th:for="'event-' + ${rating.userSource.id} + 'star3half'" title="3.5 stars"></label>
                                        <input type="radio" th:id="'event-' + ${rating.userSource.id} + 'star3'" th:name="'rating-' + ${rating.userSource.id}" value="6" disabled th:checked="${rating.rating == 6}">
                                        <label class="full" th:for="'event-' + ${rating.userSource.id} + 'star3'" title="3 stars"></label>
                                        <input type="radio" th:id="'event-' + ${rating.userSource.id} + 'star2half'" th:name="'rating-' + ${rating.userSource.id}" value="5" disabled th:checked="${rating.rating == 5}">
                                        <label class="half" th:for="'event-' + ${rating.userSource.id} + 'star2half'" title="2.5 stars"></label>
                                        <input type="radio" th:id="'event-' + ${rating.userSource.id} + 'star2'" th:name="'rating-' + ${rating.userSource.id}" value="4" disabled th:checked="${rating.rating == 4}">
                                        <label class="full" th:for="'event-' + ${rating.userSource.id} + 'star2'" title="2 stars"></label>
                                        <input type="radio" th:id="'event-' + ${rating.userSource.id} + 'star1half'" th:name="'rating-' + ${rating.userSource.id}" value="3" disabled th:checked="${rating.rating == 3}">
                                        <label class="half" th:for="'event-' + ${rating.userSource.id} + 'star1half'" title="1.5 stars"></label>
                                        <input type="radio" th:id="'event-' + ${rating.userSource.id} + 'star1'" th:name="'rating-' + ${rating.userSource.id}" value="2" disabled th:checked="${rating.rating == 2}">
                                        <label class="full" th:for="'event-' + ${rating.userSource.id} + 'star1'" title="1 star"></label>
                                        <input type="radio" th:id="'event-' + ${rating.userSource.id} + 'starhalf'" th:name="'rating-' + ${rating.userSource.id}" value="1" disabled th:checked="${rating.rating == 1}">
                                        <label class="half" th:for="'event-' + ${rating.userSource.id} + 'starhalf'" title=" 0.5 stars"></label>
                                    </div>
                                    <p class="mb-0 mt-3" th:text="${rating.description}"></p>
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <div th:if="${isOwner}">
                        <form class="d-flex justify-content-center" th:action="@{/event/{id}/delete(id=${event.id})}" method="post"
                            onsubmit="return confirm('Are you sure you want delete this event?');">
                            <button id="delete-event" type="submit" class="btn btn-danger">Delete this event</button>
                        </form>
                    </div>
                </div>
                <div id="main-details" class="bg-white border my-2 p-4 pb-5 flex-fill align-self-start">
                    <h2 class="text-center">DETAILS</h2>
                    <div class="event-dets-sec">
                        <p><span class="fs-5 fw-bold">Destination: </span> <span th:text="${event.destination}"></span> <span class="fs-5">🌍</span></p>
                    </div>
                    <div class="event-dets-sec">
                        <!-- <p><span class="fs-5 fw-bold"><span th:text="${event.initDate}"></span> - <span th:text="${event.finishDate}"></span> </span></p> -->
                        <p class="m-0"><span class="fs-5 fw-bold">📅 From: </span> <span th:text="${event.initDate}"></span></p>
                        <p><span class="fs-5 fw-bold">📅 To: </span> <span th:text="${event.finishDate}"></span></p>
                        <!-- <div id="event-dets-calendar" class="bg-primary"> -->
                            <!-- CALENDARIO -->
                        <!-- </div> -->
                    </div>
                    <div class="event-dets-sec">
                        <p><span class="fs-5 fw-bold">Meeting point: </span> <span th:text="${event.reunionPoint}"></span><span class="fs-5">🌍</span></p>
                    </div>
                    <div class="event-dets-sec">
                        <p><span class="fs-5 fw-bold">Transport: </span>
                            <!-- <span th:text="${event.transport}"></span><span class="fs-5">✈️</span> -->
                            <th:block th:each="t: ${event.transport.split(',')}">
                                <th:block th:switch="${t}">
                                    <th:block th:case="'PLANE'">
                                        <span class="fs-4">✈️</span> Plane
                                    </th:block>
                                    <th:block th:case="'BUS'">
                                        <span class="fs-4">🚌</span> Autobus
                                    </th:block>
                                    <th:block th:case="'CAR'">
                                        <span class="fs-4">🚗</span> Car
                                    </th:block>
                                    <th:block th:case="'SHIP'">
                                        <span class="fs-4">🚢</span> Ship
                                    </th:block>
                                </th:block>
                            </th:block>
                        </p>
                    </div>
                    <h3 class="text-center">ORGANIZER</h3>
                    <div class="event-dets-sec d-flex align-items-center mb-3">
                        <a class="text-decoration-none text-body" th:href="@{/user/{id}(id=${event.userOwner.id})}">
                            <img class="rounded-circle align-self-start" th:src="@{/user/{id}/pic(id=${event.userOwner.id})}" alt="profile" 
                                style="width: 100px; height: 100px; object-fit: cover;">
                        </a>
                        <div class="ms-4">
                            <h5><a class="text-decoration-none text-body" th:href="@{/user/{id}(id=${event.userOwner.id})}">
                                <span th:text="${event.userOwner.firstName}">Name</span>
                            </a></h5>
                            <h5><a class="text-decoration-none text-body" th:href="@{/user/{id}(id=${event.userOwner.id})}">
                                <span th:text="${event.userOwner.lastName}">Surname</span>
                            </a></h5>
                            <div class="user-rating d-flex flex-column align-items-start" th:if="${numOwnerRatings > 0}">
                                <div class="rating-static">
                                    <input type="radio" id="user-star5" name="user-rating" value="10" disabled th:checked="${avgOwnerRating == 10}">
                                    <label class="full" for="user-star5" title="5 stars"></label>
                                    <input type="radio" id="user-star4half" name="user-rating" value="9" disabled th:checked="${avgOwnerRating == 9}">
                                    <label class="half" for="user-star4half" title="4.5 stars"></label>
                                    <input type="radio" id="user-star4" name="user-rating" value="8" disabled th:checked="${avgOwnerRating == 8}">
                                    <label class="full" for="user-star4" title="4 stars"></label>
                                    <input type="radio" id="user-star3half" name="user-rating" value="7" disabled th:checked="${avgOwnerRating == 7}">
                                    <label class="half" for="user-star3half" title="3.5 stars"></label>
                                    <input type="radio" id="user-star3" name="user-rating" value="6" disabled th:checked="${avgOwnerRating == 6}">
                                    <label class="full" for="user-star3" title="3 stars"></label>
                                    <input type="radio" id="user-star2half" name="user-rating" value="5" checked disabled th:checked="${avgOwnerRating == 5}">
                                    <label class="half" for="user-star2half" title="2.5 stars"></label>
                                    <input type="radio" id="user-star2" name="user-rating" value="4" disabled th:checked="${avgOwnerRating == 4}">
                                    <label class="full" for="user-star2" title="2 stars"></label>
                                    <input type="radio" id="user-star1half" name="user-rating" value="3" disabled th:checked="${avgOwnerRating == 3}">
                                    <label class="half" for="user-star1half" title="1.5 stars"></label>
                                    <input type="radio" id="user-star1" name="user-rating" value="2" disabled th:checked="${avgOwnerRating == 2}">
                                    <label class="full" for="user-star1" title="1 star"></label>
                                    <input type="radio" id="user-starhalf" name="user-rating" value="1" disabled th:checked="${avgOwnerRating == 1}">
                                    <label class="half" for="user-starhalf" title=" 0.5 stars"></label>
                                </div>
                                <p class="mb-0 ps-1"><span th:text="${numOwnerRatings}">1</span> Ratings</p>
                            </div>

                        </div>
                    </div>
                    <th:block th:if="${isLogged && !isOwner}">
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-danger" onclick="toggleModalForm('report-form-cont')">Report</button>
                        </div>
                        <div id="report-form-cont" class="modal-form-cont">
                            <form class="modal-form bg-white rounded">
                                <h3>Report <span th:text="${event.userOwner.firstName} + ' ' + ${event.userOwner.lastName}"></span>.</h3>
                                <input id="report-event" type="hidden" name="event" th:value="${event.id}">
                                <label for="report-cause" class="form-label">Reason of the report:</label>
                                <select class="form-select" name="cause" id="report-cause">
                                    <option value="EVENT_PAGE">Content in event's page</option>
                                    <option value="MESSAGE">Sended message/s</option>
                                    <option value="DURING_EVENT">Behavior during the event</option>
                                </select>
                                <br>
                                <label for="report-desc" class="form-label">Details of this report:</label>
                                <textarea class="form-control" id="report-desc" name="description" placeholder="Leave a comment here..." style="height: 150px; width: 100%"></textarea>
                                <br>
                                <button type="button" class="btn btn-primary" th:attr="onclick=|reportUser('${event.userOwner.id}')|">
                                    Send
                                </button>
                                <button type="button" class="btn btn-primary" onclick="toggleModalForm('report-form-cont')">Cancel</button>
                            </form>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </main>
    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>