<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head :: header" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/formAddEvent.css}" href="css/formAddEvent.css" type="text/css">
    <title>Form Add Event</title>
</head>
<body class="d-flex flex-column h-100">
  <header th:replace="fragments/nav.html :: nav"></header>

  <main class="flex-shrink-0">
    <div class="p-2" style="margin: auto; max-width: 700px;">
      <form method="post" th:action="@{/event/saveEvent}" th:object="${Event}" class="d-flex flex-column gap-2">
        <div class="d-flex gap-2 flex-wrap">
          <div class="form-group" style="flex-grow: 1; flex-basis: 250px;">
            <label for="title">Title: </label>
            <input type="text" class="form-control" id="title"  placeholder="title" th:field="*{title}" required>
          </div>
          <div class="form-group">
            <label for="type">Type: </label>
            <select class="form-select" th:field="*{type}">
              <option value="TRIP" selected>TRIP</option>
              <option value="EVENT" >EVENT</option>
              <option value="CONCERT">CONCERT</option>
              <option value="CAMPING">CAMPING</option>
              <option value="MUSEUM">MUSEUM</option>
            </select>
          </div>
        </div>
        <div class="d-flex gap-2 flex-wrap">
          <div class="form-group" style="flex-grow: 1; flex-basis: 250px;">
            <label for="initDate">Start Date: </label>
            <input type="date" class="form-control" id="initDate"   th:field="*{initDate}" required>
          </div>
          <div class="form-group" style="flex-grow: 1; flex-basis: 250px;">
            <label for="finishDate">Finish Date: </label>
            <input type="date" class="form-control" id="finishDate"   th:field="*{finishDate}" required>
          </div>
        </div>
        <div class="form-group">
          <label for="destination">Destination: </label>
          <input type="text" class="form-control" id="destination"  placeholder="destination" th:field="*{destination}"  required>
        </div>
        <div class="d-flex gap-2 flex-wrap">
          <div class="form-group" style="flex-grow: 1; flex-basis: 250px;">
            <label for="price">Price/Person:</label>
            <input type="number" class="form-control" id="price"  th:field="*{price}" required>
          </div>
          <div class="form-group" style="flex-grow: 1; flex-basis: 250px;">
            <label for="capacity">Capacity:</label>
            <input type="number" class="form-control" id="capacity"  th:field="*{capacity}" min="2" required>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Description: </label>
          <textarea class="form-control" th:field="*{description}" id="description" placeholder="Tell about the event..." rows="3"></textarea>
        </div>
        <div class="d-flex gap-2 flex-wrap">
          <div class="form-group" style="flex-grow: 1; flex-basis: 250px;">
            <label for="reunionPoint">Reunion Point: </label>
            <input type="text" class="form-control" id="reunionPoint"  placeholder="reunionPoint" th:field="*{reunionPoint}" required>
          </div>
          <div class="form-group" style="flex-grow: 1; flex-basis: 250px;">
            <label for="transport">Transport:</label>
            <input type="text" class="form-control" id="transport" placeholder="EX: bus,plane" th:field="*{transport}" required>
          </div>
        </div>
        <div class="form-group">
          <label for="notes">Notes:</label>
          <input type="text" class="form-control" id="notes" placeholder="EX: NO_KIDS,NO_ANIMALS" th:field="*{notes}" required>
        </div>
        <div class="mt-2 d-flex justify-content-end">
          <button id="add-event" type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </main>

    <th:block th:replace="fragments/footer.html :: footer" />
  </body>
</html>